#contract-page-wrapper {
    margin: 0 15px
}
#contract-form {
    position: relative;
    right: 2vw;
    width: 90vw;
    margin: 40px auto 0;
}
#contract-form label {
    margin-top: 15px;
    display: block;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    bottom: 5px;
}
#contract-form input{
    width: 100%;
    margin: 0 auto;
    height: 30px;
    border-radius: 4px;
    border: 2px solid #f7f7f7;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 0 10px;
}
#contract-form input[type="checkbox"]{
    height: 15px;
    width: 15px;
}
#contract-form input[type="checkbox"]:hover{
   cursor: pointer;
}
#contract-form button {
    width: 200px;
    display: block;
    background-color: var(--brown);
    border: none;
    border-radius: 35px;
    color: #fff;
    height: 40px;
    font-size: 14px;
    margin: 30px auto 80px;
}
#contract-form button:hover {
    cursor: pointer;
    background-color: green;
}
#contract-hero p {
    font-size: 15px
}
#contract-signature p {
    font-size: 14px;
}
#signature-input {
    height: 120px  !important;
    font-size: 22px !important;
    text-align: center;
}
@media(min-width: 968px){
   #contract-page-wrapper {
    margin: 40px 15vw
   }
 
    #contract-form input{
        width: 50%;
        margin: 0 auto;
        display: inline-block;
        height: 35px;  
        position: relative;
        left: 15vw
    }
    #checkbox-container {
        position: relative;
        left:15vw
    }
    #contract-form label {
        position: relative;
        left: 15vw
    }
    #signature-input {
       width: 50% !important;
       display: block;  
    }
    #contract-signature {
       width: 52%;
       position: relative;
       left: 15vw
    }
    #contract-form button {
        position: relative;
        right: 8vw;
    }
 
}